
* {
    margin: 0px;
    padding: 0px;
}

.site-title {
    text-align: center;
    font-size: 60px;
    background-color: darkolivegreen;
}
.city-title {
text-align: center;
}

.icon-image {
    width: 90px;
    height: 90px;
    align-self: center;
}
.five-day-card{
    width: 10rem;
    row-gap: 20px;
    background-color: lightseagreen;
    border-top-left-radius;
    
}
.card-body {
    
}
.card {
    display: flex;
    flex-direction: row;
}

